services:
  mysql_server:
    image: mysql:8.4
    container_name: mysql_server
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: sbtest
    # command: --innodb_log_buffer_size=1M --mysql-native-password=ON
    command: --innodb_log_buffer_size=64M --mysql-native-password=ON
    ports:
      - "3306:3306"
    cap_add:
      - SYS_NICE

  sysbench:
    build:
      context: .
      dockerfile: Dockerfile.sysbench
    container_name: sysbench_runner
    depends_on:
      - mysql_server
    volumes:
      - ./run_tests.sh:/run_tests.sh
    command: ["tail", "-f", "/dev/null"]
